<nav >
<ul class="pagination">

    <li class="page-item" 
        [appClass]="{ disabled: currentPage === 0 }">
        <a (click)="currentPage = currentPage -1" class="page-link" href="#">Prev</a>
    </li>

    <ng-container *appTimes="images.length; let i = index; let c = color;">
        {{ c}}
    <li *ngIf="checkWindowIndex(i)"
        [appClass]="{ active: i === currentPage }"
        class="page-item">


        <a (click)="currentPage = i" href="#" class="page-link">
                {{ i + 1 }}
        </a>
    </li>
    </ng-container>
    <li class="page-item"
        [appClass]=" { disabled: currentPage === images.length - 1 } ">
        <a  (click)="currentPage = currentPage + 1" class="page-link" href="#">Next</a>
    </li>

</ul>

</nav>

<div>
<h4>{{ images[currentPage].title }}</h4>
<img [src]="images[currentPage].url" />
</div>

<div *appTimes="5">
    <li>Hi hi hi there!</li>
</div>