<div class="row" *ngIf="!isLoggedIn">
<div class="col-md-6 mx-auto">
    <div class="card">
        <div class="card-body">
            <h1 class="text-center pb-4 pt-3">
                <span class="text-primary"><i class="fa fa-lock"></i> Client panel </span>login
            </h1>
            <form (submit)="onSubmit()">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" name="email" type="text" [(ngModel)]="email" required>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input  class="form-control"  name="password" type="password" [(ngModel)]="password" required>
                </div>
             
                <input type="submit" value="Login" class="btn btn-primary btn-block">
            </form>
       
        </div>
    </div>
</div>

{{ login }}
{{ password }}

{{ loggedIn }}
</div>

